* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
	font-family: 'Microsoft YaHei',"Comic Sans MS","幼圆","黑体",sans-serif;
}
body{
	font-size: 0.07rem;
	width:100%;
	height:100%;
	background:#FFFFFF;
	overflow-x:hidden;
}
img {
	display: block;
}

ul {
	list-style: none;
}



.clearfix::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}

.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	z-index: 2000;
}
.goodsList{
	font-size:0.12rem;
	.right-slide{
		position: fixed;
		right:-2.4rem;
		height: 100%;
		width: 2.3rem;
		background-color: #fff;
		z-index: 2001;
		transition: all 1s;
		box-shadow: 2px 0px 5px 3px #000;
		.slide-top{
			display: flex;
			height: 0.58rem;
			width: 100%;
			border-bottom: 0.01rem solid #d2d2d2;
			.slide-back{
				flex: 1;
				line-height: 0.58rem;
				text-align: center;
				font-size: 0.12rem;
				span{
					display: inline-block;
					width: 0.85rem;
					height: 0.32rem;
					background-color: #f60;
					border-radius: 0.04rem;
					line-height: 0.32rem;
					margin:0 auto;
					text-align: center;
					color: #fff;
				}
			}
			.slide-checked{
				flex: 1;
				line-height: 0.58rem;
				text-align: center;
				span{
					display: inline-block;
					width: 0.85rem;
					height: 0.32rem;
					background-color: #f60;
					border-radius: 0.04rem;
					margin:0 auto;
					line-height: 0.32rem;
					text-align: center;
					color: #fff;
				}
			}
		}
		.slide-bottom{
			width: 100%;
			height: 5.1rem;
			position: relative;
			.slide-section{
				margin-left:0.2rem;
				height: 0.45rem;
				width:2.1rem;
				border-bottom:0.01rem solid #d2d2d2;
				font-size: 0.12rem;
				line-height: 0.45rem;
				.rightLink{
					float:right;
					height: 0.45rem;
					display: inline-block;
					line-height: 0.45rem;
					color: rgb(31, 135, 200);
					i{
						margin:0px 5px 0px 5px;
						display: inline-block;
						font-size: 24px;
						color: #f60;
						position: relative;
						top:3px;
					}
				}
			}
			.r-rightLink{
				position: absolute;
				top: 0px;
				right:-2.2rem;
				width: 2.1rem;
				height: 5.1rem;
				background-color: #fff;
				z-index:2005;
				box-shadow:0px 0px 0px 0px #fff,-1px 2px 4px 0px #000; 
				border-left:0.01rem solid #d2d2d2;
				transition: all 1s;
				span{
					color: #f60;
					text-align: center;
					margin:0 auto;
					display:block;
					width: 0.7rem;
					height: 0.45rem;
					border-bottom:0.01rem solid #d2d2d2; 
					line-height: 0.45rem;
				}
			}
		}	
	}
	a{
		text-decoration: none;
		color:#82737A;
	}
	.return-top{
		display: none;
		position:fixed;
		width: 0.4rem;
		height:0.4rem;
		bottom:0.3rem;
		right:0.1rem;
		i{
			font-size: 0.42rem;
			color: #f60;
		}
	}
	.goodsList-top{
		position: fixed;
		width: 100%;
		height: 0.46rem;
		background-color: #f60;
		.main-logo{
			float: left;
			width: 0.4rem;
			height: 0.32rem;
			padding: 0.07rem 0 0 0.15rem;
			line-height: 0.32rem;
			i{
				color:#fff;
				font-size:0.30rem;

			}
		}
		.top-search{
			float: left;
			width: 2.5rem;
			height: 0.28rem;
			background-color: #ff8c3c;
			color: #fff;
			border-radius: 0.03rem;
			margin-top: 0.09rem;
			margin-left: 0.08rem;
			span{
				height: 0.3rem;
				width: 0.3rem;
				text-align: center;
				float: left;
				padding-top: 0.05rem;
				i{
					font-size: 0.12rem;
				}
			}
			#search{
				font-size: 0.12rem;
				float:left;
				height: 0.28rem;
				width: 2rem;
				background-color: #ff8c3c;
				color: #fff;
				border: none;
			}
			::-webkit-input-placeholder { 
				color: #fff; 
			} 
		}
	}
	.goodsList-sel{
		position: fixed;
		width: 100%;
		top:0.44rem;
		height: 0.4rem;
		border-bottom: 1px solid #f60;
		background-color:#fff;
		ul{
			width: 100%;
			height: 100%;
			position: relative;
			
			li{
				float:left;
				width: 25%;
				text-align: center;
				span{
					display: inline-block;
					width: 100%;
					height: 0.16rem;
					margin-top:0.12rem;
					border-right: 0.01rem solid #e5d6d6;
				}
			}
			li:nth-of-type(4){
				span{
					border:0px;
				}
			}
			.active{
				color:#f60;
			}

		}
	}
	.goodsList-main{
		padding-top: 0.84rem;
		padding-left: 0.12rem;
		.main-section{
			height: 0.91rem;
			width:3.08rem;
			border-bottom: 0.01rem solid #d2d2d2;
			img{
				float:left;
				width:0.7rem;
				height:0.7rem;
				margin: 0.1rem 0.1rem 0 0.1rem;
			}
			.section-right{
				float: left;
				width: 2.1rem;
				margin-top:0.1rem;
				.goodsName{
					display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    height:0.32rem;
				}
				.goodsPrice{
					color:red;
				}
				.goodsSalenum{
					color: #f60;
				}
			}
		}		
	}
	h1{
		height: 0.3rem;
		text-align: center;
		font-weight: normal;
		color:#f60;
		line-height: 0.3rem;
		font-size:0.12rem;
	}
}