 .footer{
        width:100%;
        ul{
            width:100%;
            position:fixed;
            bottom:0;
            left:0;
            border-top:1px solid #ccc;
            background:#fff;
            z-index: 1;
            .login{
                float:left;
                width:50%;

                span:first-child{
                    display: block;
                    width:0.25rem;
                    height:0.25rem;
                    background:url('../../static/imgs/index/login.png') no-repeat;
                    background-size:100%;
                    margin:0 auto;
                }
                span:last-child{
                    display: block;
                    text-align: center;
                    font-size: 0.12rem;
                    color:#666;
                }
            }
            .register{
                @extend .login;
                span:first-child{
                  
                    background:url('../../static/imgs/index/register.png') no-repeat;
                    background-size:100%;
                }
            }
        }
    }